* {
	margin: 0;
	padding: 0;
}

body, html {
	height: 100%;
}

#myCanvas {
	background-image: url('https://upload.wikimedia.org/wikipedia/en/thumb/d/dc/Tamil_A.svg/1280px-Tamil_A.svg.png');
	background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center;
	width: 500px;
	cursor: crosshair;
	position: fixed;
}